.button{
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.delete{
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.default{
  color: #333;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.form-group input{
    padding: 15px 10px;
    font-weight: bold;
    height: 43px;
}
.form-group textarea{
    font-weight: bold;
}
.form-group .btn{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
     border-radius:3px;
    padding: 10px 15px;
    font-weight: bold;
}
